<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Главная страница</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Главная страница</h1>
        <div>
                <a th:href="@{/employees/}">Список сотрудников</a>
        </div>
        <div>
            <a th:href="@{/vacations/}">Список отпусков</a>
        </div>
    </body>
    <br/><br/>
    <div>Тестовое задание выполнил Подолинский Фёдор</div>
</html>