<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список отпусков</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Список отпусков сотрудника: </h2> <h2 th:utext="${employee.fullName}" ></h2>
<div>
    <a th:href="@{/}">Назад на главную</a>
    <a th:href="@{/employees}">Назад к списку сотрудников</a>
    <a th:href="@{/employees/{employeeId}/addVacation/(employeeId=${employee.employeeId})}">Добавить новый отпуск</a>
</div>
<br/><br/>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="vacation : ${vacations}">
            <td th:utext="${vacation.vacationId}">Id</td>
            <td th:utext="${vacation.vacationStartDate}">...</td>
            <td th:utext="${vacation.vacationEndDate}">...</td>
            <td><a th:href="@{/employees/{employeeId}/editVacation/{vacationId}/(employeeId=${employee.employeeId},vacationId=${vacation.vacationId})}">Изменить</a></td>
            <td><a th:href="@{/employees/{employeeId}/deleteVacation/{vacationId}/(employeeId=${employee.employeeId},vacationId=${vacation.vacationId})}">Удалить</a></td>
        </tr>
    </table>
</div>
<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>
</body>
</html>