<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список отпусков</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Список отпусков</h2>
    <div class="mr-auto">
        <a href="/" class="btn btn-primary btn-sm " role="button">Назад на главную</a>
    </div>
    <a id="exportBtn" href="/pdfExport" class="btn btn-danger btn-sm my-2" role="button">Экспорт базы в PDF</a>
    <form class="form-inline">
        <label for="dateFilterStart" class="my-1 col-form-label mr-3">Даты начала и окончания отпуска</label>
        <input class="form-control" type="date" id="dateFilterStart">
        <input class="form-control" type="date" id="dateFilterEnd">
        <label class="col-form-label my-2" for="filterInput">Поиск по имени сотрудника</label>
        <input class="form-control ml-5" id="filterInput" type="text" placeholder="Имя сотрудника..">
    </form>
    <p>Можно сортировать результат кликнув на заголовок столбца</p>
    <table class="table table-bordered table-sm thead-light">
        <thead>
        <tr>
            <th class="align-content-center" onclick="sortMyTable('vacationId')">ID</th>
            <th class="align-content-center" onclick="sortMyTable('employee.fullName')">ФИО сотрудника</th>
            <th class="align-content-center" onclick="sortMyTable('vacationStartDate')">Дата начала</th>
            <th class="align-content-center" onclick="sortMyTable('vacationEndDate')">Дата окончания</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="vacationTable">
        </tbody>
    </table>
    <div class="dropdown mr-auto">
        <button id="rowsMenu" type="button" class="btn btn-primary dropdown-toggle btn-sm mt-3 mb-1"
                data-toggle="dropdown">
        </button>
        <div class="dropdown-menu">
            <a id="dropdown10" class="dropdown-item active" onclick="setRows(10)">10</a>
            <a id="dropdown25" class="dropdown-item" onclick="setRows(25)">25</a>
            <a id="dropdown50" class="dropdown-item" onclick="setRows(50)">50</a>
        </div>
    </div>
    <div class="d-flex">
        <div id="vacationPages" class="ml-auto">
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    let pageNumber = 1;
    let rowsPerPage = 10;
    let prevPage = pageNumber - 1;
    let nextPage = pageNumber + 1;
    let hasPrev = false;
    let hasNext = false;
    let ascending = true;
    let sortByColumn;
    let startFilterDate = "";
    let endFilterDate = "";
    let filterWord = "";

    $('#dateFilterStart').on('input', function () {
        startFilterDate = $('#dateFilterStart').val();
        console.log("input startFilterDate=" + startFilterDate)
        getVacationsPageNRowsFiltered(pageNumber, rowsPerPage, ascending, sortByColumn, filterWord, startFilterDate, endFilterDate);
    });

    $('#dateFilterEnd').on('input', function () {
        endFilterDate = $('#dateFilterEnd').val();
        console.log("input endFilterDate=" + endFilterDate)
        getVacationsPageNRowsFiltered(pageNumber, rowsPerPage, ascending, sortByColumn, filterWord, startFilterDate, endFilterDate);
    });

    $(document).ready(function () {
        $("#filterInput").on("keyup", function () {
            filterWord = $(this).val().toLowerCase();
            pageNumber = 1;
            console.log("input filterWord=" + filterWord)
            getVacationsPageNRowsFiltered(pageNumber, rowsPerPage, ascending, sortByColumn, filterWord, startFilterDate, endFilterDate);
        });
    });

    function getVacationsPageNRowsFiltered(newPageNumber, newRowsPerPage, newAscending, newSortByColumn, newfilterWord, newStartFilterDate, newEndFilterDate) {
        console.log("сработал getEmployeesPageNRows");
        let filterWordAttr = newfilterWord.length !== 0 ? '&filterWord=' + newfilterWord : '';
        console.log("filterWordAttr = " + filterWordAttr);
        let filterDateStartAttr = newStartFilterDate.length !== 0 ? '&startFilterDate=' + newStartFilterDate : '';
        console.log("filterDateStartAttr = " + filterDateStartAttr);
        let filterDateEndAttr = newEndFilterDate.length !== 0 ? '&endFilterDate=' + newEndFilterDate : '';
        console.log("filterDateEndAttr = " + filterDateEndAttr);

        $.getJSON('http://localhost:8080/vacationsData?page=' + newPageNumber +
            '&rowsPerPage=' + newRowsPerPage +
            '&ascending=' + newAscending +
            '&sortByColumn=' + newSortByColumn +
            filterWordAttr +
            filterDateStartAttr +
            filterDateEndAttr, function (vacationListPageJson) {
            let vacations = vacationListPageJson.vacations;
            hasPrev = vacationListPageJson.hasPrev;
            hasNext = vacationListPageJson.hasNext;
            prevPage = vacationListPageJson.pageNumber - 1;
            pageNumber = vacationListPageJson.pageNumber;
            nextPage = vacationListPageJson.pageNumber + 1;
            rowsPerPage = vacationListPageJson.rowsPerPage;
            ascending = vacationListPageJson.ascending;
            sortByColumn = vacationListPageJson.sortByColumn;

            console.log(vacationListPageJson);

            $('#rowsMenu').empty().append(rowsPerPage);

            let tr = [];
            for (let i = 0; i < vacations.length; i++) {
                tr.push('<tr>');
                tr.push('<td>' + vacations[i].vacationId + '</td>');
                tr.push('<td>' + vacations[i].employee.fullName + '</td>');
                tr.push('<td>' + vacations[i].vacationStartDate + '</td>');
                tr.push('<td>' + vacations[i].vacationEndDate + '</td>');
                tr.push('<td>' + '<a href="/employees/' + vacations[i].employee.employeeId + '/editVacation/' + vacations[i].vacationId + '"' + 'class="btn btn-primary btn-sm" role="button">Изменить</a>' + '</td>');
                tr.push('<td>' + '<a href="/employees/' + vacations[i].employee.employeeId + '/deleteVacation/' + vacations[i].vacationId + '"' + 'class="btn btn-danger btn-sm" role="button">Удалить</a>' + '</td>');
                tr.push('</tr>');
            }
            $('#vacationTable').empty().append($(tr.join('')));
            viewPageNav();
        })
    }

    $(document).ready(getVacations);

    function sortMyTable(column) {
        if(sortByColumn===column) {
            ascending = !ascending;
        } else {
            sortByColumn = column;
            ascending = true;
        }
        pageNumber = 1;
        getVacationsPageNRowsFiltered(pageNumber, rowsPerPage, ascending, sortByColumn, filterWord, startFilterDate, endFilterDate);
    }

    function setRows(num) {
        rowsPerPage = num;
        pageNumber = 1;
        getVacationsPageNRowsFiltered(pageNumber, rowsPerPage, ascending, sortByColumn, filterWord, startFilterDate, endFilterDate);

    }

    function getVacations() {
        console.log("работал getVacations");
        $.getJSON('http://localhost:8080/vacationsData', function (vacationListPageJson) {
            let vacations = vacationListPageJson.vacations;
            hasPrev = vacationListPageJson.hasPrev;
            hasNext = vacationListPageJson.hasNext;
            prevPage = vacationListPageJson.pageNumber - 1;
            pageNumber = vacationListPageJson.pageNumber;
            nextPage = vacationListPageJson.pageNumber + 1;
            rowsPerPage = vacationListPageJson.rowsPerPage;
            ascending = vacationListPageJson.ascending;
            sortByColumn = vacationListPageJson.sortByColumn;
            console.log(vacationListPageJson);


            $('#rowsMenu').empty().append(rowsPerPage);

            let tr = [];
            for (let i = 0; i < vacations.length; i++) {
                tr.push('<tr>');
                tr.push('<td>' + vacations[i].vacationId + '</td>');
                tr.push('<td>' + vacations[i].employee.fullName + '</td>');
                tr.push('<td>' + vacations[i].vacationStartDate + '</td>');
                tr.push('<td>' + vacations[i].vacationEndDate + '</td>');
                tr.push('<td>' + '<a href="/employees/' + vacations[i].employee.employeeId + '/editVacation/' + vacations[i].vacationId + '"' + 'class="btn btn-primary btn-sm" role="button">Изменить</a>' + '</td>');
                tr.push('<td>' + '<a href="/employees/' + vacations[i].employee.employeeId + '/deleteVacation/' + vacations[i].vacationId + '"' + 'class="btn btn-danger btn-sm" role="button">Удалить</a>' + '</td>');
                tr.push('</tr>');
            }
            $('#vacationTable').empty().append($(tr.join('')));
            viewPageNav();
        })
    }


    function viewPageNav() {
        let tr2 = [];
        if (hasPrev) {
            tr2.push('<span><a onclick="getVacationsPageNRowsFiltered(prevPage,rowsPerPage,ascending,sortByColumn,filterWord, startFilterDate, endFilterDate)" class="btn btn-primary btn-sm" role="button">Предыдущая страница</a></span>');
        } else {
            tr2.push('<span><a class="btn btn-primary btn-sm" role="button">Предыдущая страница</a></span>');
        }
        tr2.push('<span><a class="btn btn-primary btn-sm mx-2" role="button">' + pageNumber + '</a></span>')
        if (hasNext) {
            tr2.push('<span><a onclick="getVacationsPageNRowsFiltered(nextPage,rowsPerPage,ascending,sortByColumn,filterWord, startFilterDate, endFilterDate)" class="btn btn-primary btn-sm" role="button">Следующая страница</a></span>');
        } else {
            tr2.push('<span><a class="btn btn-primary btn-sm" role="button">Следующая страница</a></span>');
        }
        $('#vacationPages').empty().append($(tr2.join('')));
    }
</script>
</html>
